
<%= image_tag("home.jpg",width: "100%") %>

	
<div class="home">
	<h1>Ласкаво просимо до Доктор К - Здоров`я  з кожним дотиком</h1>
	</div>
	<div class="home_text">
		Компанія «Доктор K» спеціалізується на розробці та виробництві натуральних екстрактів (дієтичних добавок) в основу яких покладені унікальні формули і більш ніж 50-річний досвід та професійні знання Офелії Канес, доктора гомеопатичної медицини. Гомеопатія це наука про використання крихітних доз речовин, спрямованих на пробудження цілющих сил та ресурсів організму, за для зміцнення здоров'я та благополуччя. Ми, працівники Доктор К, концентруємо всі наші думки і увагу на забезпеченні належної якості сировини і кінцевого продукту. Вироблення наших ліків відбувається з дотриманням найжорсткіших вимог, з особливою ретельністю до їх якості. Наша продукція виготовляється з найчистіших природних матеріалів за спеціальною технологією, що дозволяє виявити найглибші цілющі властивості цих матеріалів, ретельно слідуючи стародавнім записам і нашому багаторічному досвіду і знанням. Якість і безпека нашої продукції гарантована сертифікатами Європейського союзу. 
	</div>

	<div class="home_down">
		<table>
		<tr>
			<td>
				<%= image_tag("bottom_image.jpg",width: "100%") %>
			</td>
			<td>
				<h2>Здоров'я, дароване природою</h2>
				Ізраїльська компанія «Доктор К» є одною з лідерів в сфері розробки та виробництва натуральних екстрактів (дієтичних добавок) з багаторічним досвідом роботи на ринку гомеопатичної медицини і тисячами вдячних клієнтів по всьому світі.
			</td>
		</tr>
		</table>
	</div>

