<center><h1>О нас</h1></center>
<br/>

<table class="about_us">
	
	<tr>
		<td>
			<%= image_tag("about_us1.jpg", width: "500em" )%>
		</td>

		<td>
		<h2> Про компанію </h2>
		Ізраїльська компанія «Доктор К» є одною з лідерів в сфері розробки та виробництва натуральних екстрактів (дієтичних добавок) для жінок впродовж та після вагітності. В основу екстрактів «Доктора K» покладені унікальні формули і професійні знання Офелії Канес, доктора гомеопатичної медицини, які вона здобувала протягом тридцяти років навчання, досліджень і практики по всьому світі. Офелія Канес працює разом із дочкою Ліной Хоффман, яка слідує по стопах своєї матері в якості сертифікованого гомеопата, доули і консультанта з грудному вигодувавання. Пані Хоффман також навчає фахівців, що працюють з гомеопатією в питаннях вагітності і пологів.
		</td>
	</tr>


	<tr>
		<td>
			<%= image_tag("about_us2.jpg", width: "500em" )%>
		</td>

		<td>
		<h2> Про нашу продукцію </h2>

Всі наші формули є абсолютно унікальними і грунтуються на значному обсязі знань і досвіду. 
Коли ми створюємо екстракт, ми спрямовуємо всі наші думки і увагу на забезпечення належної якості сировини і кінцевого продукту. Вироблення наших ліків відбувається з дотриманням найжорсткіших вимог, з особливою ретельністю до їх якості. 

Наша продукція виготовляється з найчистіших природних матеріалів за спеціальною технологією, що дозволяє виявити найглибші цілющі властивості цих матеріалів, ретельно слідуючи стародавнім записам і нашому багаторічному досвіду і знанням. Ми завжди з максимальною точністю намагаємося створити найбільш чітку формулу, щоб забезпечити їх максимальну ефективність.

Головним поштовхом для створення нашої лінії препаратів для жінок та дітей стало бажання дати можливість жінкам допомогти в першу чергу собі і своїм близьким використовуючи природні екстракти насолоджуватися позитивними сторонами вагітності, народженням немовля, а також доглядом за дітьми.

		</td>
	</tr>
</table>
